.header-section{
    width:100%;
    height:calc(100vh - 6rem);
    display:flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}
.header-cont{
    display: flex;
    flex-direction: column;
    place-items:center;
    font-size: 2rem;
}
.header-cont button {
    width:16rem;
    height:2.5rem;
    border-radius:50px;
}
@media (orientation: portrait){
    .header-section{
        height:calc(50vh - 6rem);
    }
}