.nav-container{
    display:flex;
    height:6rem;
    padding: 2rem;
    padding-inline: 10%;
    background-color: var(--color-nav);
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    left:0;
    right:0;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.nav-container h1{
    font-size:clamp(2rem,calc(6vh+1rem),6rem);
    font-weight:300;
    line-height: 1.5;
    color: #F3F3F3;
}
.nav-links{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:2rem;
}
.nav-links li{
    list-style: none;
    position: relative;
}
.nav-links a{
    color: #F3F3F3;
    transition: color 0.2s ease;
}
.nav-links a:hover{
    color: var(--color-primary);
}
.nav-links a::after{
    content: "";
    width:100%;
    height:2px;
    background-color: var(--color-primary);
    position: absolute;
    bottom:-2px;
    left:0;
    transform: scaleX(0);
    transform-origin: left;
    pointer-events: none;
    transition: transform 0.3s ease;
    z-index: -1;
}
.nav-links a:hover::after{
    transform: scaleX(1);
}
.util-cont{
    display:flex;
    gap:2rem;
}
.nav-container .btn1{
    font-size:clamp(1rem,3vh,2rem);
    font-weight: normal;
}
.nav-links li a{
    font-size:clamp(1rem,3vh,2rem);
}
.drop-down{
    gap:10%;
    width:fit-content;
    height: fit-content;
}
.ham{
    width:40px;
    height:40px;
    align-items: center;
}
i{
    font-size: 30px;
}
@media (max-width:969px){
    .nav-container{
        height:15vh;
    }
    .nav-container h1{
        font-size:clamp(3rem,4vh,4rem);
    }
    .nav-container .btn1,
    .nav-links li a{
        font-size:clamp(1rem,2vh,2rem);
    }
}

@media (max-width:750px) {
    .nav-container h1{
        font-size:clamp(2rem,4vh,4rem);
    }
    .drop-down{
        flex-direction: column;
        position: fixed;
        top:0;
        left:0;
        background-color: var(--color-nav);
        width:100vw;
        height:100vh;
        justify-content: center;
        padding-inline:10vw;
    }
    .nav-links{
        flex-direction: column;
        >li{
            width:100%;
            display: flex;
        }
    }
    .nav-links li a,
    .nav-container .btn1{
        width:100%;
        text-align: center;
        font-size: clamp(2rem,4vh,4rem);
    }
}
